.Header {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  background: linear-gradient(
    137.52deg,
    #c2e7fa 0%,

    rgba(218, 244, 255, 0.94) 5%,

    rgba(255, 255, 255, 0.85) 15%,

    rgba(255, 255, 255, 0.85) 100%
  );

  &__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px 0;
  }
}
